h2 {
    font-family: 'Times New Roman';
    font-size: 35px;
    color: black;
    text-align: center;
}

hr {
    width: 40%;
}

body {
    background-color: white;
}

table {
    border: 2px solid black;
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
}